In [148]:
import pandas as pd
import datetime
import numpy as np

def dateparse (time_in_secs):    
    return datetime.datetime.fromtimestamp(float(time_in_secs))

In [2]:
df = pd.read_csv('ab-testing-files/data/experiment.csv')

In [3]:
df.head()

      user_id            ts         ab landing_page  converted
0  4040615247  1.356998e+09  treatment     new_page          0
1  4365389205  1.356998e+09  treatment     new_page          0
2  4256174578  1.356998e+09  treatment     new_page          0
3  8122359922  1.356998e+09    control     old_page          0
4  6077269891  1.356998e+09    control     old_page          0

In [5]:
df['date_time']=pd.to_datetime(df['ts'],unit='s')

In [6]:
df.head()

,user_id,ts,ab,landing_page,converted,date_time
0,4040615247,1.356998e+09,treatment,new_page,0,2013-01-01 00:00:00
1,4365389205,1.356998e+09,treatment,new_page,0,2013-01-01 00:00:00
2,4256174578,1.356998e+09,treatment,new_page,0,2013-01-01 00:00:02
3,8122359922,1.356998e+09,control,old_page,0,2013-01-01 00:00:02
4,6077269891,1.356998e+09,control,old_page,0,2013-01-01 00:00:02

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191148 entries, 0 to 191147
Data columns (total 6 columns):
user_id         191148 non-null int64
ts              191148 non-null float64
ab              191148 non-null object
landing_page    191148 non-null object
converted       191148 non-null int64
date_time       191148 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 8.8+ MB

In [8]:
df.head(5)

,user_id,ts,ab,landing_page,converted,date_time
0,4040615247,1.356998e+09,treatment,new_page,0,2013-01-01 00:00:00
1,4365389205,1.356998e+09,treatment,new_page,0,2013-01-01 00:00:00
2,4256174578,1.356998e+09,treatment,new_page,0,2013-01-01 00:00:02
3,8122359922,1.356998e+09,control,old_page,0,2013-01-01 00:00:02
4,6077269891,1.356998e+09,control,old_page,0,2013-01-01 00:00:02

In [9]:
df.tail(5)

,user_id,ts,ab,landing_page,converted,date_time
191143,4895266553,1.357085e+09,control,old_page,0,2013-01-01 23:59:57
191144,8098077893,1.357085e+09,treatment,new_page,0,2013-01-01 23:59:58
191145,9388248387,1.357085e+09,control,old_page,0,2013-01-01 23:59:58
191146,7696871995,1.357085e+09,treatment,new_page,0,2013-01-01 23:59:59
191147,4138279348,1.357085e+09,treatment,new_page,0,2013-01-01 23:59:59

In [10]:
df=df.drop_duplicates(subset='user_id')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186388 entries, 0 to 191147
Data columns (total 6 columns):
user_id         186388 non-null int64
ts              186388 non-null float64
ab              186388 non-null object
landing_page    186388 non-null object
converted       186388 non-null int64
date_time       186388 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 10.0+ MB

In [11]:
from z_test import z_test

In [12]:
print len(df.index)
df.head(5)

186388

,user_id,ts,ab,landing_page,converted,date_time
0,4040615247,1.356998e+09,treatment,new_page,0,2013-01-01 00:00:00
1,4365389205,1.356998e+09,treatment,new_page,0,2013-01-01 00:00:00
2,4256174578,1.356998e+09,treatment,new_page,0,2013-01-01 00:00:02
3,8122359922,1.356998e+09,control,old_page,0,2013-01-01 00:00:02
4,6077269891,1.356998e+09,control,old_page,0,2013-01-01 00:00:02

In [167]:
#Clean out other file issues (not all ab and landing page) match
#
#
def keep(row):
    if row['ab'] == 'treatment' and row['landing_page']=='new_page':
        return 1
    if row['ab'] == 'control' and row['landing_page']=='old_page':
        return 1
    else:
        return 0

In [168]:
df['clean']= df.apply(keep,axis=1)

In [111]:
len(df2.index)

186388

In [83]:
#((df['ab']=='treatment') & (df['landing_page'] == 'old_page')) | ((df['ab']=='control') & (df['landing_page'] == 'new_page'))

In [101]:
df[((df['ab']=='treatment') & (df['landing_page'] == 'old_page'))]

Empty DataFrame
Columns: [user_id, ts, ab, landing_page, converted, clean]
Index: []

In [81]:
df[df['keep_columns']==True]

Empty DataFrame
Columns: [user_id, ts, ab, landing_page, converted, keep_columns]
Index: []

In [16]:
df_new = df[df['landing_page']=='new_page'].copy()
df_old = df[df['landing_page']=='old_page'].copy()
total_new=len(df_new.index)
total_old=len(df_old.index)

In [17]:
ctcount_new = len(df_new[df_new['converted']==1].index)

In [18]:
ctcount_old = len(df_old[df_old['converted']==1].index)

In [19]:
ctr_new = float(ctcount_new) / total_new
ctr_old = float(ctcount_old) / total_old
print ctr_new
print ctr_old
print total_new
print total_old
print ctcount_new
print ctcount_old

0.0996819218616
0.0996432268152
95574
90814
9527
9049

In [20]:
#Because we are interested in if new is 1% better must shift the 
#base proportion by 1%
#


z_test(ctr_old, ctr_new, total_old, total_new,
           effect_size=ctr_old*.01, two_tailed=False, alpha=.05)

z-score: -0.689944276707, p-value: 0.754885384821, reject null: False

(-0.68994427670693392, 0.75488538482148515, False)

In [22]:
total_new=0.0
total_old=0.0
ctcount_new = 0.0
ctcount_old = 0.0
ctr_new = 0.0
ctr_old = 0.0
'''Need to pull out all dates of given hour add to above standards and
compute and print the z_test information'''

for hour in xrange(0,23):
    start = datetime.time(hour,50,0)
    end = datetime.time(hour+1,0,0)
    
    old=df_old.between_time(start,end)
    new=df_new.between_time(start,end)
    
    total_new=len(df_new.index)
    total_old=len(df_old.index)
    
    
    print 'up to hour : ',hour, ' \n',z_test(ctr_old, ctr_new, total_old, total_new,
           effect_size=ctr_old*.01, two_tailed=False, alpha=.05)

NameError: name 'datetime' is not defined